<div class="container-products">
    <div class="product" *ngFor="let product of products" (click)="detalleProduct()"
    [swal]="[product.title, product.price.toString()]" >
        <img src={{product.image}}>
        <div class="info-button-product">
            <div class="info-product">
                <p>{{product.title}}</p>
                <p>${{product.price}}</p>
            </div>
            <button (click)="addProduct(product)" *ngIf="isToken">Add</button>
        </div>

    </div>
</div>
