<div class="container-products">
    <div class="product" *ngFor="let product of products"  >
        <img src='https://www.shutterstock.com/image-vector/default-image-icon-vector-missing-260nw-2086941550.jpg'>
        <div class="info-button-product">
            <div class="info-product">
                <p>{{product.title}}</p>
                <p>${{product.price}}</p>
            </div>
            <button (click)="addProduct(product)" *ngIf="isToken">Add</button>
        </div>

    </div>
</div>
